<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aarogya Centre | Hồ sơ</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- CSS -->
    <link href="/static/css/profile.css" rel="stylesheet">

    <!-- JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='script/profile.js') }}"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-custom">

        <!-- Navigation Bar: Brand Logo -->
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.dashboard') }}">
                <img src="/static/images/logo.png" alt="Aarogya Centre Logo" width="200" height="100">
            </a>

            <!-- Navigation Bar: User Malee -->
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        {% if profile_data["basic_data"]["profile_picture"] %}
                            <img src="{{ profile_data['basic_data']['profile_picture'] }}" alt="User Icon" width="50" height="50"
                                style="border: 5px solid #22577A; border-radius: 100%;" />
                        {% else %}
                            <img src="/static/images/user-icon.png" alt="User Icon" width="50" height="50"
                                style="border: 5px solid #22577A; border-radius: 100%;" />
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('main.dashboard') }}">Xem trang tổng quan</a></li>
                        <li><a class="dropdown-item" href="#">Cần trợ giúp?</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('main.home') }}">Đăng xuất</a></li>
                    </ul>
                </li>   
            </ul>
        </div>
    </nav>
    
    <div class="row">
        <div class="col-md-4">

            <!-- Mức độ hoàn thiện hồ sơ Card -->
            <div class="card shadow p-4" id="profile-completion-card">
                <h3><b>Mức độ hoàn thiện hồ sơ</b></h3>

                {% if session_stats['completion_percentage'] %}
                    <div class="progress mt-2">
                        <div class="progress-bar" role="progressbar" id="pb" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            {{ session_stats['completion_percentage'] }}%
                        </div>

                        <script>
                            var bar = document.getElementById('pb')
                            bar.style.width = "{{ session_stats['completion_percentage'] }}%";
                        </script>
                    </div>
                {% endif %}
            </div>

            <!-- Family Thành viên Card -->
            <div class="card shadow p-4 mt-4" id="family-member-card">
                <h3><b>Thành viên gia đình</b></h3>
                
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <h6>#{{ profile_data["basic_data"]["id"] }}</h6>
                    </div>

                    <div class="col-md-7">
                        <h6>{{ profile_data["basic_data"]["first_name"] }} {{ profile_data["basic_data"]["last_name"] }}</h6>
                    </div>

                    <div class="col-md-3">
                        <h6>Chủ tài khoản</h6>
                    </div>
                    <hr>
                </div>

                {% for member in members_data %}
                    <div class="row">
                        <div class="col-md-2">
                            <h6>#{{ member['id'] }}</h6>
                        </div>

                        <div class="col-md-7">
                            <h6>{{ member['first_name'] }} {{ member['last_name'] }}</h6>
                        </div>

                        <div class="col-md-3">
                            <h6>{{ member['relation'] }}</h6>
                        </div>
                        <hr>
                    </div>
                {% endfor %}

                <a class="btn btn-custom" href="{{ url_for('main.add_member') }}" role="button">Thêm thành viên</a>
            </div>

            <!-- Appointment Link Card -->
            <div class="card shadow p-4 mt-4" id="appointment-link-card">
                <div class="row">
                    <div class="col">
                        <h3><b>Đặt lịch khám với bác sĩ</b></h3>
                        <hr>
                        <a class="btn btn-custom" href="{{ url_for('main.dashboard') }}" role="button">Đặt lịch</a>
                    </div>
                    <div class="col">
                        <img src="/static/images/appointment-icon.png" alt="Communicate Vector" width="125" height="160">
                    </div>
                </div>
            </div>

            <!-- Communicate Link Card -->
            <div class="card shadow p-4 mt-4" id="communicate-link-card">
                <div class="row">
                    <div class="col">
                        <h3><b>Giờ đây bạn có thể trao đổi ngay với bác sĩ!</b></h3>
                        <hr>
                        <a class="btn btn-custom" href="{{ url_for('main.communicate') }}" role="button">Liên hệ</a>
                    </div>
                    <div class="col">
                        <img src="/static/images/communicate-icon.png" alt="Communicate Vector" width="115" height="150">
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-8">

            <!-- Hồ sơ Card -->
            <div class="card shadow p-4" id="profile-card">
                <h3><b>Hồ sơ</b></h3>
                <br>

                <div class="row d-flex align-items-end">
                    <div class="col">
                        {% if profile_data["basic_data"]["profile_picture"] %}
                            <img src='{{ profile_data["basic_data"]["profile_picture"] }}'' width="110" height="110" 
                                style="border: 6px solid #22577A; border-radius: 100%;" /><br><br><br><br>
                        {% else %}
                            <img src="/static/images/user-icon.png" width="110" height="110" 
                                style="border: 6px solid #22577A; border-radius: 100%;" /><br><br><br><br>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-4">
                                <h6>ID</h6>
                                <h6>Tên</h6>
                                <h6>Họ</h6>
                                <h6>Địa chỉ email</h6>
                                <h6>Ngày sinh</h6>
                                <h6>Địa chỉ</h6>
                                <h6>Thành phố</h6>
                                <h6>Tỉnh/Thành</h6>
                                <h6>Số điện thoại</h6>
                            </div>

                            <div class="col-md-8">
                                <h6><b>{{ profile_data['basic_data']['id'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['first_name'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['last_name'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['email_address'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['birth_date'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['address'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['city'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['state'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['mobile_number'] }}</b></h6>
                            </div>
                        </div>

                        {% if profile_data['basic_data']['speciality'] %}
                            <div class="row">
                                <div class="col-md-4">
                                    <h6>Chuyên khoa</h6>
                                </div>
                                <div class="col-md-8">
                                    <h6>{{ profile_data['basic_data']['speciality'] }}</h6>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col-md-5">
                                <h6>Giới tính</h6>
                                <h6>Tuổi</h6>
                                <h6>Nhóm máu</h6>
                                <h6>Cân nặng (kg)</h6>
                                <h6>Chiều cao (cm)</h6>
                                <h6>Béo phì</h6>
                                <h6>Khuyết tật</h6>
                                <h6>Loại da Fitzpatrick</h6>
                                <h6>Dị ứng</h6>
                                <h6>Tiểu đường</h6>
                                <h6>Tuyến giáp</h6>
                                <h6>Ung thư</h6>
                                <h6>COVID</h6>
                                <h6>Hen suyễn</h6>
                                <h6>HIV/AIDS</h6>
                                <h6>Nghiện</h6>
                            </div>

                            <div class="col-md-7">
                                <h6><b>{{ profile_data['health_data']['gender'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['age'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['blood_group'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['weight'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['height'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['obesity'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['disability'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['fitzpatrick'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['allergies'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['diabetes'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['thyroid'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['cancer'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['covid'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['asthma'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['hiv_aids'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['addiction'] }}</b></h6>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <a class="btn btn-custom" href="{{ url_for('main.update_profile') }}" role="button">Cập nhật hồ sơ</a>
            </div>

            <!-- Tài liệu y tế Card -->
            <div class="card shadow p-4 mt-4" id="documents-card">
                <h3><b>Tài liệu y tế</b></h3>
                
                <div class="row">
                    <div class="col">
                        <br>
                        {% if profile_data['documents'] %}
                            {% for data in profile_data['documents'] %}
                                <div class="row">
                                    <div class="col-md-7">
                                        <h6>{{ data['document_name'] }}</h6>
                                    </div>
                                    <div class="col-md-5">
                                        <!-- Store URL in a data attribute -->
                                        <button 
                                            type="button" 
                                            class="btn btn-custom btn-sm" 
                                            data-url="{{ url_for('main.get_document', document_id=data['id']) }}"
                                            onclick="openDocument(this)">
                                            Xem tài liệu
                                        </button>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        {% else %}
                            <h6>Tài liệu bạn tải lên sẽ hiển thị tại đây.</h6>
                        {% endif %}
                    </div>
                </div>
                
                <script>
                    // JavaScript function to open the document in a new tab
                    function openDocument(button) {
                        const url = button.dataset.url; // Correctly fetch the value of the data-url attribute
                        if (url) {
                            window.open(url, '_blank'); // Open the document in a new tab
                        } else {
                            console.error('URL not found in data-url attribute!');
                        }
                    }
                </script>                
                                
                    <div class="col">
                        <img src="/static/images/documents-vector.png" alt="Tài liệu y tế Vector" width="300" height="240" />
                    </div>
                </div>

                <br>
                <div>
                    <form action="{{ url_for('main.upload_documents') }}" method="POST" enctype="multipart/form-data">
                        <div class="form-outline">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" name="document-name" placeholder="Nhập tên tài liệu" class="form-control" />
                                </div>

                                <div class="col-md-3">
                                    <select class="form-control" name="document-owner" required>
                                        <option value="{{ profile_data['basic_data']['id'] }}">Bản thân ({{ profile_data['basic_data']['first_name'] }})</option>
                                        {% for member in members_data %}
                                            <option value="{{ member['id'] }}">{{ member['first_name'] }} {{ member['last_name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <input type="file" name="document" class="btn btn-custom btn-sm" />
                                </div>

                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-custom btn-group-sm">Tải lên</button>
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>

            <!-- Family Tài liệu y tế Card -->
            <div class="card shadow p-4 mt-4" id="member-documents-card">
                <h3><b>Hồ sơ y tế gia đình</b></h3>
                <br>
                {% if members_data %}
                    {% for member in members_data %}
                        <h6><b>{{ member['first_name'] }} {{ member['last_name'] }}</b> ({{ member['relation'] }})</h6>
                        {% if member_documents_map[member['id']] %}
                            {% for data in member_documents_map[member['id']] %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6>{{ data['document_name'] }}</h6>
                                    </div>
                                    <div class="col-md-4">
                                        <button
                                            type="button"
                                            class="btn btn-custom btn-sm"
                                            data-url="{{ url_for('main.get_document', document_id=data['id']) }}"
                                            onclick="openDocument(this)">
                                            Xem tài liệu
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h6>Thành viên này chưa có tài liệu nào.</h6>
                        {% endif %}
                        <hr>
                    {% endfor %}
                {% else %}
                    <h6>Hãy thêm thành viên để quản lý hồ sơ y tế gia đình.</h6>
                {% endif %}
            </div>

            <!-- Medication Reminder Card -->
            <div class="card shadow p-4 mt-4" id="medication-reminder-card">
                <h3><b>Nhắc uống thuốc (Sáng - Chiều)</b></h3>
                <br>
                <form action="{{ url_for('main.add_medication_reminder') }}" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label"><b>Thành viên</b></label>
                            <select class="form-control" name="member-id" required>
                                <option value="{{ profile_data['basic_data']['id'] }}">Bản thân ({{ profile_data['basic_data']['first_name'] }})</option>
                                {% for member in members_data %}
                                    <option value="{{ member['id'] }}">{{ member['first_name'] }} {{ member['last_name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label"><b>Thuốc</b></label>
                            <input type="text" name="medicine-name" placeholder="Ví dụ: Vitamin D" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label"><b>Ghi chú</b></label>
                            <input type="text" name="medicine-notes" placeholder="Sau ăn" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="morning" checked>
                                <label class="form-check-label">Sáng (08:00)</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="evening" checked>
                                <label class="form-check-label">Chiều (20:00)</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-custom">Thêm nhắc nhở</button>
                        </div>
                    </div>
                </form>
                <hr>
                {% if medication_reminders %}
                    {% for item in medication_reminders %}
                        <div class="row">
                            <div class="col-md-8">
                                <h6><b>{{ item['medicine_name'] }}</b> cho {{ member_name_map.get(item['member_id'], 'Thành viên #' ~ item['member_id']) }}</h6>
                                <h6>
                                    {% if item['morning_enabled'] %}Buổi sáng{% endif %}
                                    {% if item['morning_enabled'] and item['evening_enabled'] %} + {% endif %}
                                    {% if item['evening_enabled'] %}Buổi chiều{% endif %}
                                    {% if item['notes'] %} | {{ item['notes'] }}{% endif %}
                                </h6>
                            </div>
                            <div class="col-md-4">
                                <form action="{{ url_for('main.delete_medication_reminder', reminder_id=item['id']) }}" method="POST">
                                    <button class="btn btn-custom btn-sm" type="submit">Xóa</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <h6>Chưa có nhắc uống thuốc.</h6>
                {% endif %}
            </div>

            <!-- Lịch sử khám Card -->
            <div class="card shadow p-4 my-4" id="appointment-history-card">
                {% if appointment_data %}
                    <div class="row">
                        <div class="col-md-8">
                            <h3><b>Lịch sử khám</b></h3>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" onclick="showAdmin()" checked required />
                                <label>Chủ tài khoản</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" onclick="showMember()" />
                                <label>Thành viên</label>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <h5>Lịch sử khám</h5>
                {% endif %}

                {% if appointment_data %}
                    <br>
                    <h6>Hiển thị lịch khám của <b>{{ profile_data['basic_data']['first_name'] }} {{ profile_data['basic_data']['last_name'] }}</b></h6>
                    <br>
                    <div class="row">

                        <div class="col-md-1">
                            <h6><b>ID</b></h6>
                        </div>

                        <div class="col-md-2">
                            <h6><b>Hình thức</b></h6>
                        </div>

                        <div class="col-md-3">
                            <h6><b>Bác sĩ</b></h6>
                        </div>

                        <div class="col-md-2">
                            <h6><b>Chuyên khoa</b></h6>
                        </div>

                        <div class="col-md-2">
                            <h6><b>Ngày</b></h6>
                        </div>

                        <div class="col-md-2">
                            <h6><b>Địa điểm</b></h6>
                        </div>
                    </div>
                    <hr>

                    {% for data in appointment_data %}
                        <div class="row">

                            <div class="col-md-1">
                                <h6>{{ data['id'] }}</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>{{ data['mode'] }}</h6>
                            </div>

                            <div class="col-md-3">
                                <h6>{{ data['doctor_name'] }}</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>{{ data['specialist'] }}</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>{{ data['appointment_date'] }}</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>{{ data['appointment_city'] }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% if members_appointment_data %}
                <div class="card shadow p-4 my-4" id="member-appointment-history" >
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Lịch sử khám của thành viên</h5>
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" onclick="showAdmin()"/>
                                <label>Chủ tài khoản</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input"  onclick="showMember()" checked required />
                                <label>Thành viên</label>
                            </div>
                        </div>
                    </div>

                    {% for member in members_appointment_data %}
                        <br>
                        <h6>Hiển thị lịch khám của <b>{{ member['name'] }}</b></h6>
                        <br>
                        <div class="row">

                            <div class="col-md-1">
                                <h6>ID</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>Hình thức</h6>
                            </div>

                            <div class="col-md-3">
                                <h6>Bác sĩ</h6>
                            </div>

                            <div class="col-md-2">
                                <h6><b>Chuyên khoa</b></h6>
                            </div>

                            <div class="col-md-2">
                                <h6>Ngày</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>Địa điểm</h6>
                            </div>
                        </div>
                        <hr>

                        {% for data in member['appointments'] %}
                            <div class="row">

                                <div class="col-md-1">
                                    <h6>{{ data['id'] }}</h6>
                                </div>

                                <div class="col-md-2">
                                    <h6>{{ data['mode'] }}</h6>
                                </div>

                                <div class="col-md-3">
                                    <h6>{{ data['doctor_name'] }}</h6>
                                </div>

                                <div class="col-md-2">
                                    <h6>{{ data['specialist'] }}</h6>
                                </div>

                                <div class="col-md-2">
                                    <h6>{{ data['appointment_date'] }}</h6>
                                </div>

                                <div class="col-md-3">
                                    <h6>{{ data['appointment_city'] }}</h6>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                </div>
            {% endif %}

            {% if not appointment_data %}
                <div class="card shadow p-4 mb-3" id="appointment-history-card">
                    <h6>Lịch sử khám của bạn sẽ hiển thị tại đây.</h6>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
