<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aarogya Centre | Profile</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- CSS -->
    <link href="/static/css/profile.css" rel="stylesheet">

    <!-- JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='script/profile.js') }}"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-custom">

        <!-- Navigation Bar: Brand Logo -->
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.dashboard') }}">
                <img src="/static/images/logo.png" alt="Aarogya Centre Logo" width="200" height="100">
            </a>

            <!-- Navigation Bar: User Name -->
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        {% if profile_data["basic_data"]["profile_picture"] %}
                            <img src="{{ profile_data['basic_data']['profile_picture'] }}" alt="User Icon" width="50" height="50"
                                style="border: 5px solid #22577A; border-radius: 100%;" />
                        {% else %}
                            <img src="/static/images/user-icon.png" alt="User Icon" width="50" height="50"
                                style="border: 5px solid #22577A; border-radius: 100%;" />
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('main.dashboard') }}">View dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Need help?</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('main.home') }}">Log Out</a></li>
                    </ul>
                </li>   
            </ul>
        </div>
    </nav>
    
    <div class="row">
        <div class="col-md-4">

            <!-- Profile Completion Card -->
            <div class="card shadow p-4" id="profile-completion-card">
                <h3><b>Profile Completion</b></h3>

                {% if session_stats['completion_percentage'] %}
                    <div class="progress mt-2">
                        <div class="progress-bar" role="progressbar" id="pb" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            {{ session_stats['completion_percentage'] }}%
                        </div>

                        <script>
                            var bar = document.getElementById('pb')
                            bar.style.width = "{{ session_stats['completion_percentage'] }}%";
                        </script>
                    </div>
                {% endif %}
            </div>

            <!-- Family Member Card -->
            <div class="card shadow p-4 mt-4" id="family-member-card">
                <h3><b>Family Members</b></h3>
                
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <h6>#{{ profile_data["basic_data"]["id"] }}</h6>
                    </div>

                    <div class="col-md-7">
                        <h6>{{ profile_data["basic_data"]["first_name"] }} {{ profile_data["basic_data"]["last_name"] }}</h6>
                    </div>

                    <div class="col-md-3">
                        <h6>Admin</h6>
                    </div>
                    <hr>
                </div>

                {% for member in members_data %}
                    <div class="row">
                        <div class="col-md-2">
                            <h6>#{{ member['id'] }}</h6>
                        </div>

                        <div class="col-md-7">
                            <h6>{{ member['first_name'] }} {{ member['last_name'] }}</h6>
                        </div>

                        <div class="col-md-3">
                            <h6>{{ member['relation'] }}</h6>
                        </div>
                        <hr>
                    </div>
                {% endfor %}

                <a class="btn btn-custom" href="{{ url_for('main.add_member') }}" role="button">Add a member</a>
            </div>

            <!-- Appointment Link Card -->
            <div class="card shadow p-4 mt-4" id="appointment-link-card">
                <div class="row">
                    <div class="col">
                        <h3><b>Book an appointment with a doctor</b></h3>
                        <hr>
                        <a class="btn btn-custom" href="{{ url_for('main.dashboard') }}" role="button">Book</a>
                    </div>
                    <div class="col">
                        <img src="/static/images/appointment-icon.png" alt="Communicate Vector" width="125" height="160">
                    </div>
                </div>
            </div>

            <!-- Communicate Link Card -->
            <div class="card shadow p-4 mt-4" id="communicate-link-card">
                <div class="row">
                    <div class="col">
                        <h3><b>Now you can instantly communicate with a doctor!</b></h3>
                        <hr>
                        <a class="btn btn-custom" href="{{ url_for('main.communicate') }}" role="button">Contact</a>
                    </div>
                    <div class="col">
                        <img src="/static/images/communicate-icon.png" alt="Communicate Vector" width="115" height="150">
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-8">

            <!-- Profile Card -->
            <div class="card shadow p-4" id="profile-card">
                <h3><b>Profile</b></h3>
                <br>

                <div class="row d-flex align-items-end">
                    <div class="col">
                        {% if profile_data["basic_data"]["profile_picture"] %}
                            <img src='{{ profile_data["basic_data"]["profile_picture"] }}'' width="110" height="110" 
                                style="border: 6px solid #22577A; border-radius: 100%;" /><br><br><br><br>
                        {% else %}
                            <img src="/static/images/user-icon.png" width="110" height="110" 
                                style="border: 6px solid #22577A; border-radius: 100%;" /><br><br><br><br>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-4">
                                <h6>ID</h6>
                                <h6>First Name</h6>
                                <h6>Last Name</h6>
                                <h6>Email Address</h6>
                                <h6>Birth Date</h6>
                                <h6>Address</h6>
                                <h6>City</h6>
                                <h6>State</h6>
                                <h6>Mobile Number</h6>
                            </div>

                            <div class="col-md-8">
                                <h6><b>{{ profile_data['basic_data']['id'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['first_name'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['last_name'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['email_address'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['birth_date'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['address'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['city'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['state'] }}</b></h6>
                                <h6><b>{{ profile_data['basic_data']['mobile_number'] }}</b></h6>
                            </div>
                        </div>

                        {% if profile_data['basic_data']['speciality'] == 'None' %}
                            <div class="row">
                                <div class="col-md-4">
                                    <h6>Speciality</h6>
                                </div>
                                <div class="col-md-8">
                                    <h6>{{ profile_data['basic_data']['speciality'] }}</h6>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col-md-5">
                                <h6>Gender</h6>
                                <h6>Age</h6>
                                <h6>Blood group</h6>
                                <h6>Weight (kgs)</h6>
                                <h6>Height (cms)</h6>
                                <h6>Obesity</h6>
                                <h6>Disability</h6>
                                <h6>Fitzpatrick skin type</h6>
                                <h6>Allergies</h6>
                                <h6>Diabetes</h6>
                                <h6>Thyroid</h6>
                                <h6>Cancer</h6>
                                <h6>Covid</h6>
                                <h6>Asthma</h6>
                                <h6>HIV/AIDS</h6>
                                <h6>Addiction</h6>
                            </div>

                            <div class="col-md-7">
                                <h6><b>{{ profile_data['health_data']['gender'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['age'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['blood_group'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['weight'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['height'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['obesity'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['disability'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['fitzpatrick'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['allergies'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['diabetes'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['thyroid'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['cancer'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['covid'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['asthma'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['hiv_aids'] }}</b></h6>
                                <h6><b>{{ profile_data['health_data']['addiction'] }}</b></h6>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <a class="btn btn-custom" href="{{ url_for('main.update_profile') }}" role="button">Update Profile</a>
            </div>

            <!-- Documents Card -->
            <div class="card shadow p-4 mt-4" id="documents-card">
                <h3><b>Documents</b></h3>
                
                <div class="row">
                    <div class="col">
                        <br>
                        {% if profile_data['documents'] %}
                            {% for data in profile_data['documents'] %}
                                <div class="row">
                                    <div class="col-md-7">
                                        <h6>{{ data['document_name'] }}</h6>
                                    </div>
                                    <div class="col-md-5">
                                        <!-- Store URL in a data attribute -->
                                        <button 
                                            type="button" 
                                            class="btn btn-custom btn-sm" 
                                            data-url="{{ url_for('main.get_document', document_id=data['id']) }}"
                                            onclick="openDocument(this)">
                                            View document
                                        </button>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        {% else %}
                            <h6>Your uploaded documents will appear here.</h6>
                        {% endif %}
                    </div>
                </div>
                
                <script>
                    // JavaScript function to open the document in a new tab
                    function openDocument(button) {
                        const url = button.dataset.url; // Correctly fetch the value of the data-url attribute
                        if (url) {
                            window.open(url, '_blank'); // Open the document in a new tab
                        } else {
                            console.error('URL not found in data-url attribute!');
                        }
                    }
                </script>                
                                
                    <div class="col">
                        <img src="/static/images/documents-vector.png" alt="Documents Vector" width="300" height="240" />
                    </div>
                </div>

                <br>
                <div>
                    <form action="{{ url_for('main.upload_documents') }}" method="POST" enctype="multipart/form-data">
                        <div class="form-outline">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" name="document-name" placeholder="Enter your document name" class="form-control" />
                                </div>

                                <div class="col-md-3">
                                    <select class="form-control" name="document-owner" required>
                                        <option value="{{ profile_data['basic_data']['id'] }}">Self ({{ profile_data['basic_data']['first_name'] }})</option>
                                        {% for member in members_data %}
                                            <option value="{{ member['id'] }}">{{ member['first_name'] }} {{ member['last_name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <input type="file" name="document" class="btn btn-custom btn-sm" />
                                </div>

                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-custom btn-group-sm">Upload</button>
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>

            <!-- Family Documents Card -->
            <div class="card shadow p-4 mt-4" id="member-documents-card">
                <h3><b>Family Medical Records</b></h3>
                <br>
                {% if members_data %}
                    {% for member in members_data %}
                        <h6><b>{{ member['first_name'] }} {{ member['last_name'] }}</b> ({{ member['relation'] }})</h6>
                        {% if member_documents_map[member['id']] %}
                            {% for data in member_documents_map[member['id']] %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6>{{ data['document_name'] }}</h6>
                                    </div>
                                    <div class="col-md-4">
                                        <button
                                            type="button"
                                            class="btn btn-custom btn-sm"
                                            data-url="{{ url_for('main.get_document', document_id=data['id']) }}"
                                            onclick="openDocument(this)">
                                            View document
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h6>No documents uploaded for this member yet.</h6>
                        {% endif %}
                        <hr>
                    {% endfor %}
                {% else %}
                    <h6>Add a member to manage family medical records.</h6>
                {% endif %}
            </div>

            <!-- Medication Reminder Card -->
            <div class="card shadow p-4 mt-4" id="medication-reminder-card">
                <h3><b>Medication Reminder (Morning - Evening)</b></h3>
                <br>
                <form action="{{ url_for('main.add_medication_reminder') }}" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label"><b>Member</b></label>
                            <select class="form-control" name="member-id" required>
                                <option value="{{ profile_data['basic_data']['id'] }}">Self ({{ profile_data['basic_data']['first_name'] }})</option>
                                {% for member in members_data %}
                                    <option value="{{ member['id'] }}">{{ member['first_name'] }} {{ member['last_name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label"><b>Medicine</b></label>
                            <input type="text" name="medicine-name" placeholder="e.g. Vitamin D" class="form-control" required />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label"><b>Notes</b></label>
                            <input type="text" name="medicine-notes" placeholder="After meal" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="morning" checked>
                                <label class="form-check-label">Morning (08:00 AM)</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="evening" checked>
                                <label class="form-check-label">Evening (08:00 PM)</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-custom">Add Reminder</button>
                        </div>
                    </div>
                </form>
                <hr>
                {% if medication_reminders %}
                    {% for item in medication_reminders %}
                        <div class="row">
                            <div class="col-md-8">
                                <h6><b>{{ item['medicine_name'] }}</b> for {{ member_name_map.get(item['member_id'], 'Member #' ~ item['member_id']) }}</h6>
                                <h6>
                                    {% if item['morning_enabled'] %}Morning{% endif %}
                                    {% if item['morning_enabled'] and item['evening_enabled'] %} + {% endif %}
                                    {% if item['evening_enabled'] %}Evening{% endif %}
                                    {% if item['notes'] %} | {{ item['notes'] }}{% endif %}
                                </h6>
                            </div>
                            <div class="col-md-4">
                                <form action="{{ url_for('main.delete_medication_reminder', reminder_id=item['id']) }}" method="POST">
                                    <button class="btn btn-custom btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <h6>No medication reminders yet.</h6>
                {% endif %}
            </div>

            <!-- Appointment History Card -->
            <div class="card shadow p-4 my-4" id="appointment-history-card">
                {% if appointment_data %}
                    <div class="row">
                        <div class="col-md-8">
                            <h3><b>Appointment History</b></h3>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" onclick="showAdmin()" checked required />
                                <label>Admin</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" onclick="showMember()" />
                                <label>Member</label>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <h5>Appointment History</h5>
                {% endif %}

                {% if appointment_data %}
                    <br>
                    <h6>Showing appointments of <b>{{ profile_data['basic_data']['first_name'] }} {{ profile_data['basic_data']['last_name'] }}</b></h6>
                    <br>
                    <div class="row">

                        <div class="col-md-1">
                            <h6><b>ID</b></h6>
                        </div>

                        <div class="col-md-2">
                            <h6><b>Mode</b></h6>
                        </div>

                        <div class="col-md-3">
                            <h6><b>Doctor</b></h6>
                        </div>

                        <div class="col-md-2">
                            <h6><b>Specialist</b></h6>
                        </div>

                        <div class="col-md-2">
                            <h6><b>Date</b></h6>
                        </div>

                        <div class="col-md-2">
                            <h6><b>Location</b></h6>
                        </div>
                    </div>
                    <hr>

                    {% for data in appointment_data %}
                        <div class="row">

                            <div class="col-md-1">
                                <h6>{{ data['id'] }}</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>{{ data['mode'] }}</h6>
                            </div>

                            <div class="col-md-3">
                                <h6>{{ data['doctor_name'] }}</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>{{ data['specialist'] }}</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>{{ data['appointment_date'] }}</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>{{ data['appointment_city'] }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% if members_appointment_data %}
                <div class="card shadow p-4 my-4" id="member-appointment-history" >
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Member appointment history</h5>
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" onclick="showAdmin()"/>
                                <label>Admin</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input"  onclick="showMember()" checked required />
                                <label>Member</label>
                            </div>
                        </div>
                    </div>

                    {% for member in members_appointment_data %}
                        <br>
                        <h6>Showing appointments of <b>{{ member['name'] }}</b></h6>
                        <br>
                        <div class="row">

                            <div class="col-md-1">
                                <h6>ID</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>Mode</h6>
                            </div>

                            <div class="col-md-3">
                                <h6>Doctor</h6>
                            </div>

                            <div class="col-md-2">
                                <h6><b>Specialist</b></h6>
                            </div>

                            <div class="col-md-2">
                                <h6>Date</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>Location</h6>
                            </div>
                        </div>
                        <hr>

                        {% for data in member['appointments'] %}
                            <div class="row">

                                <div class="col-md-1">
                                    <h6>{{ data['id'] }}</h6>
                                </div>

                                <div class="col-md-2">
                                    <h6>{{ data['mode'] }}</h6>
                                </div>

                                <div class="col-md-3">
                                    <h6>{{ data['doctor_name'] }}</h6>
                                </div>

                                <div class="col-md-2">
                                    <h6>{{ data['specialist'] }}</h6>
                                </div>

                                <div class="col-md-2">
                                    <h6>{{ data['appointment_date'] }}</h6>
                                </div>

                                <div class="col-md-3">
                                    <h6>{{ data['appointment_city'] }}</h6>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                </div>
            {% endif %}

            {% if not appointment_data %}
                <div class="card shadow p-4 mb-3" id="appointment-history-card">
                    <h6>Your appointments history will appear here.</h6>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
