<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot tư vấn y tế | Cập nhật hồ sơ</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- CSS -->
    <link href="/static/css/update_profile.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-custom">

        <!-- Navigation Bar: Brand Logo -->
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.dashboard') }}">
                <img src="/static/images/logo.png" alt="ChatBot tư vấn y tế Logo" width="200" height="100">
            </a>

            <!-- Navigation Bar: User Malee -->
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        {% if profile_data['basic_data']['profile_picture'] %}
                            <img src="{{ profile_data['basic_data']['profile_picture'] }}" width="50" height="50" 
                                style="border: 6px solid #22577A; border-radius: 100%;" />
                        {% else %}
                            <img src="/static/images/user-icon.png" width="50" height="50" 
                                style="border: 6px solid #22577A; border-radius: 100%;" />
                        {% endif %}
                        
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('main.dashboard') }}">Xem trang tổng quan</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('main.view_profile') }}">Xem hồ sơ</a></li>
                        <li><a class="dropdown-item" href="#">Cần trợ giúp?</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('main.home') }}">Đăng xuất</a></li>
                    </ul>
                </li>   
            </ul>
        </div>
    </nav>

    <div class="row w-100 mb-4">
        <div class="col-md-6">

            <!-- Update Basic Data Card -->
            <div class="card shadow p-4" id="update-basic-data-card">
                <h5>Cập nhật thông tin cơ bản</h5>
                <br>

                <form action="{{ url_for('main.update_basic_data') }}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            {% if profile_data['basic_data']['profile_picture'] %}
                                <img src="{{ profile_data['basic_data']['profile_picture'] }}" width="110" height="110" 
                                    style="border: 6px solid #22577A; border-radius: 100%;" /><br>
                            {% else %}
                                <img src="/static/images/user-icon.png" width="110" height="110" 
                                    style="border: 6px solid #22577A; border-radius: 100%;" /><br>
                            {% endif %}
                
                        </div>
    
                        <div class="col">
                            <br><br>
                            <input type="file" name="profile-picture" class="btn btn-custom" />
                        </div>
                    </div>
    
                    <br><br>
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Tên</b></label>
                        <input type="text" name="first-name" value="{{ profile_data['basic_data']['first_name'] }}" placeholder="Nhập tên của bạn"
                            class="form-control" />
                    </div>
    
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Họ</b></label>
                        <input type="text" name="last-name" value="{{ profile_data['basic_data']['last_name'] }}" placeholder="Nhập họ của bạn"
                            class="form-control" />
                    </div>
    
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Ngày sinh</b></label>
                        <input type="date" name="birth-date" value="{{ profile_data['basic_data']['birth_date'] }}" class="form-control" />
                    </div>
    
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Địa chỉ</b></label>
                        <input type="text" name="address" value="{{ profile_data['basic_data']['address'] }}" placeholder="Số nhà, tên tòa nhà" 
                            class="form-control" />
                    </div>

                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Thành phố</b></label>
                        <input type="text" name="city" value="{{ profile_data['basic_data']['city'] }}" placeholder="Nhập thành phố nơi ở"
                            class="form-control" />
                    </div>

                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Tỉnh/Thành</b></label>
                        <input type="text" name="state" value="{{ profile_data['basic_data']['state'] }}" placeholder="Nhập thành phố nơi ở"
                            class="form-control" />
                    </div>

                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Số điện thoại</b></label>
                        <input type="number" name="mobile-number" value="{{ profile_data['basic_data']['mobile_number'] }}" placeholder="Nhập số điện thoại của bạn"
                            class="form-control" />
                    </div>

                    {% if profile_data['basic_data']['speciality'] != None %}
                        <div class="form-outline mt-2">
                            <label class="form-label"><b>Chuyên khoa</b></label><br>

                            <select class="select form-control" name="doctor-speciality">
                                <option value="{{ basic_data[9] }}" selected>{{ basic_data[9] }}</option>
                                <option value="Allergist/Immunologist">Allergist/Immunologist</option>
                                <option value="Cardiologist">Cardiologist</option>
                                <option value="Dermatologist">Dermatologist</option>
                                <option value="Endocrinologist">Endocrinologist</option>
                                <option value="Family Physician">Bác sĩ gia đình</option>
                                <option value="Gastroenterologist">Gastroenterologist</option>
                                <option value="Nephrologist">Nephrologist</option>
                                <option value="Neurologist">Neurologist</option>
                                <option value="Pathologist">Pathologist</option>
                                <option value="Pediatrician">Pediatrician</option>
                                <option value="Physiatrist">Physiatrist</option>
                                <option value="Radiologist">Radiologist</option>
                                <option value="General Surgeon">General Surgeon</option>
                                <option value="Urologist">Urologist</option>
                                <option value="Dentist">Dentist</option>
                            </select>
                        </div>

                    {% endif %}
    
                    <br><br>
                    <button type="submit" class="btn btn-custom btn-lg">Lưu</button>
                </form>
            </div>

            <!-- Update Đăng nhập Data Card -->
            <div class="card shadow p-4 mt-4" id="update-login-data-card">
                <h5>Cập nhật thông tin đăng nhập</h5>

                <br>
                <form action="{{ url_for('main.update_login_data') }}" method="POST">
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Địa chỉ email</b></label>
                        <input type="email" name="email-address" value="{{ profile_data['basic_data']['email_address'] }}" placeholder="Nhập địa chỉ email của bạn"
                            class="form-control" />
                    </div>
    
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Mật khẩu</b></label>
                        <input type="password" name="password" placeholder="Nhập mật khẩu mới" class="form-control" />
                    </div>
    
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Nhập lại mật khẩu</b></label>
                        <input type="password" name="re-enter-password" placeholder="Nhập lại mật khẩu mới" class="form-control" />
                    </div>
    
                    <br><br>
                    <div>
                        <button type="submit" class="btn btn-custom btn-lg">Lưu</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6">

            <!-- Update Health Data Card -->
            <div class="card shadow p-4" id="update-health-data-card">
                <h5>Cập nhật thông tin sức khỏe</h5>

                <br><br>
                <form action="{{ url_for('main.update_health_data') }}" method="POST">
                    <div class="form-outline">
                        <label class="form-label"><b>Giới tính</b></label><br>
                        {% if profile_data['health_data']['gender'] == 'Male' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Male" checked />
                                <label>Nam</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Female" />
                                <label>Nữ</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Other" />
                                <label>Khác</label>
                            </div>
                        {% endif %}

                        {% if profile_data['health_data']['gender'] == 'Female' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Male" />
                                <label>Nam</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Female" checked />
                                <label>Nữ</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Other" />
                                <label>Khác</label>
                            </div>
                        {% endif %}
                        
                        {% if profile_data['health_data']['gender'] == 'Other' %}
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="gender" value="Male" />
                            <label>Nam</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="gender" value="Female" />
                            <label>Nữ</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="gender" value="Other" checked />
                            <label>Khác</label>
                        </div>
                        {% endif %}
                    </div>
                    
                    <br>
                    <div class="form-outline">
                        <label class="form-label"><b>Nhóm máu</b></label><br>

                        <select class="select form-control" name="blood-group">
                            {% if profile_data['health_data']['blood_group'] %}
                                <option value="{{ profile_data['health_data']['blood_group'] }}">{{ profile_data['health_data']['blood_group'] }}</option>
                            {% else %}
                                <option value="">Chọn nhóm máu</option>
                            {% endif %}
                            <option value="A +">A +</option>
                            <option value="A -">A -</option>
                            <option value="B +">B +</option>
                            <option value="B -">B-</option>
                            <option value="AB +">AB +</option>
                            <option value="AB -">AB -</option>
                            <option value="O +">O +</option>
                            <option value="O -">O -</option>
                        </select>
                    </div>

                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Cân nặng</b></label>
                        <input type="number" name="weight" placeholder="Nhập cân nặng (kg)" value="{{ profile_data['health_data']['weight'] }}" 
                            class="form-control" />
                    </div>
    
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Chiều cao</b></label>
                        <input type="number" name="height" placeholder="Nhập chiều cao (cm)" value="{{ profile_data['health_data']['height'] }}" 
                            class="form-control" />
                    </div>

                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Khuyết tật</b></label>
                        <select class="select form-control" name="disability">
                            {% if profile_data['health_data']['disability'] %}
                                <option value="{{ profile_data['health_data']['disability'] }}">{{ profile_data['health_data']['disability'] }}</option>
                            {% else %}
                                <option value="">Chọn dạng khuyết tật</option>
                            {% endif %}
                            <option value="No" style="font-weight: bold">Không</option>
                            <optgroup label="Locomotor Khuyết tật">
                                <option value="Leprosy Cured Person">Leprosy Cured Person</option>
                                <option value="Cerebral Palsy">Cerebral Palsy</option>
                                <option value="Dwarfism">Dwarfism</option>
                                <option value="Muscular Dystrophy">Muscular Dystrophy</option>
                                <option value="Acid Attack Victims">Acid Attack Victims</option>
                            </optgroup>
                            <optgroup label="Visual Impairment">
                                <option value="Blindness">Blindness</option>
                                <option value="Low Vision">Low Vision</option>
                            </optgroup>
                            <optgroup label="Hearing Impairment">
                                <option value="Deaf">Deaf</option>
                                <option value="Hard of Hearing">Hard of Hearing</option>
                            </optgroup>
                            <option value="Speech and Language Khuyết tật" style="font-weight: bold">Speech and Language Khuyết tật</option>
                            <optgroup label="Intellectual Khuyết tật">
                                <option value="Specific Learning Disabilities">Specific Learning Disabilities</option>
                                <option value="Autism Spectrum Disorder">Autism Spectrum Disorder</option>
                            </optgroup>
                            <option value="Mental Behaviour (Mental Illness)" style="font-weight: bold">Mental Behaviour (Mental Illness)</option>
                            <optgroup label="Chronic Neurological Conditions">
                                <option value="Multiple Sclerosis">Multiple Sclerosis</option>
                                <option value="Parkinsons Disease">Parkinson's Disease</option>
                            </optgroup>
                            <optgroup label="Blood Disorder">
                                <option value="Haemophilia">Haemophilia</option>
                                <option value="Thalassemia">Thalassemia</option>
                                <option value="Sickle Cell Disease">Sickle Cell Disease</option>
                            </optgroup>
                            <option value="Multiple Disabilities" style="font-weight: bold">Multiple Disabilities</option>
                        </select>
                    </div>

                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Loại da Fitzpatrick</b></label>
                        <select class="select form-control" name="fitzpatrick-skin-type">
                            {% if profile_data['health_data']['fitzpatrick'] %}
                                <option value="{{ profile_data['health_data']['fitzpatrick'] }}">{{ profile_data['health_data']['fitzpatrick'] }}</option>
                            {% else %}
                                <option value="">Chọn loại da Fitzpatrick</option>
                            {% endif %}
                            <option value="Type 1">Type 1</option>
                            <option value="Type 2">Type 2</option>
                            <option value="Type 3">Type 3</option>
                            <option value="Type 4">Type 4</option>
                            <option value="Type 5">Type 5</option>
                            <option value="Type 6">Type 6</option>
                        </select>
                    </div>

                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Dị ứng</b></label>
                        <input type="text" name="allergies" placeholder="Nhập dị ứng của bạn" value="{{ profile_data['health_data']['allergies'] }}" 
                            class="form-control" />
                    </div>

                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Ung thư</b></label>
                        <select name="cancer" class="select form-control">
                            {% if profile_data['health_data']['cancer'] %}
                                <option value="{{ profile_data['health_data']['cancer'] }}">{{ profile_data['health_data']['cancer'] }}</option>
                            {% else %}
                                <option value="">Chọn loại ung thư</option>
                            {% endif %}
                            <option value="No">Không</option>
                            <option value="Bladder Ung thư">Bladder Ung thư</option>
                            <option value="Breast Ung thư">Breast Ung thư</option>
                            <option value="Colon and Rectal Ung thư">Colon and Rectal Ung thư</option>
                            <option value="Endometrial Ung thư">Endometrial Ung thư</option>
                            <option value="Kidney Ung thư">Kidney Ung thư</option>
                            <option value="Leukemia">Leukemia</option>
                            <option value="Liver Ung thư">Liver Ung thư</option>
                            <option value="Lung Ung thư">Lung Ung thư</option>
                            <option value="Melanoma">Melanoma</option>
                            <option value="Non-Hodgkin Lymphoma">Non-Hodgkin Lymphoma</option>
                            <option value="Pancreatic Ung thư">Pancreatic Ung thư</option>
                            <option value="Prostate Ung thư">Prostate Ung thư</option>
                            <option value="Tuyến giáp Ung thư">Tuyến giáp Ung thư</option>
                        </select>
                    </div>
                    
                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Tiểu đường</b></label><br>
                        {% if profile_data['health_data']['diabetes'] == 'No' or not profile_data['health_data']['diabetes'] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="No" checked />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 1" />
                                <label>Type 1</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 2" />
                                <label>Type 2</label>
                            </div>
                        {% endif %}

                        {% if profile_data['health_data']['diabetes'] == 'Type 1' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="No" />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 1" checked />
                                <label>Type 1</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 2" />
                                <label>Type 2</label>
                            </div>
                        {% endif %}
                        
                        {% if profile_data['health_data']['diabetes'] == 'Type 2' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="No" />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 1" />
                                <label>Type 1</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 2" checked />
                                <label>Type 2</label>
                            </div>
                        {% endif %}
                    </div>

                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Tuyến giáp</b></label><br>
                        {% if profile_data['health_data']['thyroid'] == 'No' or not profile_data['health_data']['thyroid'] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="No" checked />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hyperthyroidism" />
                                <label>Hyperthyroidism</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hypothyroidism" />
                                <label>Hypothyroidism</label>
                            </div>
                        {% endif %}

                        {% if profile_data['health_data']['thyroid'] == 'Hyperthyroidism' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="No" />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hyperthyroidism" checked />
                                <label>Hyperthyroidism</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hypothyroidism" />
                                <label>Hypothyroidism</label>
                            </div>
                        {% endif %}
                    
                        {% if profile_data['health_data']['thyroid'] == 'Hypothyroidism' %}    
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="No" />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hyperthyroidism" />
                                <label>Hyperthyroidism</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hypothyroidism" checked />
                                <label>Hypothyroidism</label>
                            </div>
                        {% endif %}
                    </div>
                    
                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>COVID</b></label><br>
                        {% if profile_data['health_data']['covid'] == 'No' or not profile_data['health_data']['covid'] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="covid" value="No" checked />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="covid" value="Yes" />
                                <label>Có</label>
                            </div>
                        {% endif %}

                        {% if profile_data['health_data']['covid'] == 'Yes' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="covid" value="No" />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="covid" value="Yes" checked />
                                <label>Có</label>
                            </div>
                        {% endif %}
                    </div>
                    
                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Hen suyễn</b></label><br>
                        {% if profile_data['health_data']['asthma'] == 'No' or not profile_data['health_data']['asthma'] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="asthma" value="No" checked />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="asthma" value="Yes" />
                                <label>Có</label>
                            </div>
                        {% endif %}

                        {% if profile_data['health_data']['asthma'] == 'Yes' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="asthma" value="No" />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="asthma" value="Yes" checked />
                                <label>Có</label>
                            </div>
                        {% endif %}
                    </div>
                    
                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>HIV/AIDS</b></label><br>
                        {% if profile_data['health_data']['hiv_aids'] == 'No' or not profile_data['health_data']['hiv_aids'] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="hiv-aids" value="No" checked />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="hiv-aids" value="Yes" />
                                <label>Có</label>
                            </div>
                        {% endif %}

                        {% if profile_data['health_data']['hiv_aids'] == 'Yes' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="hiv-aids" value="No" />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="hiv-aids" value="Yes" checked />
                                <label>Có</label>
                            </div>
                        {% endif %}
                    </div>
                    
                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Nghiện</b></label><br>
                        {% if profile_data['health_data']['addiction'] == 'No' or not profile_data['health_data']['addiction'] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="No" checked />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Hút thuốc" />
                                <label>Hút thuốc</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Rượu bia" />
                                <label>Rượu bia</label>
                            </div>
                        {% endif %}

                        {% if profile_data['health_data']['addiction'] == 'Hút thuốc' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="No" />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Hút thuốc" checked />
                                <label>Hút thuốc</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Rượu bia" />
                                <label>Rượu bia</label>
                            </div>
                        {% endif %}

                        {% if profile_data['health_data']['addiction'] == 'Rượu bia' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="No" />
                                <label>Không</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Hút thuốc" />
                                <label>Hút thuốc</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Rượu bia" checked />
                                <label>Rượu bia</label>
                            </div>
                        {% endif %}
                    </div>
    
                    <br><br><br>
                    <button type="submit" class="btn btn-custom btn-lg">Lưu</button>
                </form>
                
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
